.gallery__wrapper {
    max-width: 860px;
    min-width: 320px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}