.gallery__card {
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    
    
    
    
}



.gallery__card-trash {
    position: absolute;
    display: flex;
    top: 10px;
    right: 10px;
    background-color: rgb(233, 233, 233);
    border-radius: 50%;
    width:30px;
    height:30px;
    justify-content: center;
    padding: 7px;
    opacity: 0%;
    cursor: pointer;
    
}
.gallery__card:hover .gallery__card-trash{
    opacity: 100%;
} 

.gallery__card-trash{
    transition: opacity 0.3s;
} 