
.gallery__card {
    draggable: true;
    position: relative;
    margin-right: 10px;
    margin-top: 10px;
    
    &-trash {
        position: absolute;
        display: flex;
        top: 10px;
        right: 10px;
        background-color: rgb(233, 233, 233);
        border-radius: 50%;
        padding: 7px 9px;
        justify-content: center;
        opacity: 0%;
        cursor: pointer;
        transition: opacity 0.3s;
    }
    &:hover &-trash{
        opacity: 100%;
    }    
}

.hide {
    opacity:0.5;
}

.hide-dis {
    display: none;
}
 
  


