$markedc:#0c0;
$defaultc:#ccc;

.d-flex {
    display: flex;
}
.justify-sb {
    justify-content: space-between;
    width: 100%;  
}
.mr10 {
    margin-right: 10px;
    padding-bottom: 5px;
    min-height: 50px;   
}
#preview {
    position: absolute;
    display: none;
    z-index: -1;
} 

.holder_default {
    width:100%;
    margin-right: 10px;
    border: 2px dashed $defaultc;
    border-radius: 5px;
}

#holder.hover { 
    width:100%;
    margin-right: 10px;
    border: 2px dashed $markedc; 
    border-radius: 5px;
}
#input {
    border: none;
}