.d-flex {
    display: flex;
}

.justify-sb {
    justify-content: space-between;
    width: 100%;
    
    
}
.mr10 {
    margin-right: 10px;
    padding-bottom: 5px;
    min-height: 50px;
    
}
#preview {
    position: absolute;
    display: none;
    z-index: -1;
} 

.holder_default {
    width:100%;
    border: 3px dashed #ccc;
}

#holder.hover { 
    width:100%;
    border: 3px dashed #0c0 !important; 
}

